/* Make navbar dropdowns clickable */
ul.nav li:hover ul.dropdown-menu {
    display: block;
    margin: 0
}
/* Align form labels to the left */
.form-horizontal .control-label {
    text-align: left;
}

.form-horizontal .form-group {
    margin-left: 0;
}
.thesis_title, .instructor, .upload_files {
    margin: 15px 5px;
}