/*previous cleanup from style tagl*/
body {
    padding-top: 70px;
}

.dl-horizontal dt{
    text-align: left;
    margin-bottom: 1em;
    width: auto;
    padding-right: 1em;
}

.setup {
    max-width: 500px;
    margin: 0 auto;

}

.setup-body {
    max-width: 400px;
    margin: 0 auto;
}

.group {margin: 0 auto;}
/*custom css*/
/*navigation bar compact/single row in medium screen only*/
@media screen and (min-width: 768px) and (max-width: 992px) {
    .navbar-fixed-top .container {
        width: auto;
    }
    .navbar-default .navbar-nav>li>a {
        padding-left: 10px;
        padding-right: 10px;
    }
}